name: Build Package

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: PlakarKorp/ci-workflows/.github/workflows/build-go.yml@main
    with:
      target: ./...
      test-option-timeout: 30s
    secrets: inherit
